{
    box-sizing: border-box;
}

.sudo {

    padding: 50px;
    background-color: red;
    transition: transform .2s;
    
    margin: 0 auto;
    border-radius: 29px;
}

.sudo:hover {
    -ms-transform: scale(4.6);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}
